# Import Libraries

In [1]:
import string
import pandas as pd
from io import StringIO

# Load Data

In [2]:
data = '''
'Airline Code;DelayTimes;FlightCodes;To_From\nAir Canada (!);[21, 40];20015.0;WAterLoo_NEWYork\n<Air France> (12);[];;Montreal_TORONTO\n(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa\n12. Air France;[78, 66];;Ottawa_VANcouvER\n""".\\.Lufthansa.\\.""";[12, 33];20055.0;london_MONTreal\n'
'''

In [3]:
df = pd.read_csv(StringIO(data), delimiter = ";", engine = 'python')

In [4]:
df = df.drop(5, axis = 0)

# 1. Fill missing values for FlightCodes

In [5]:
flight_code_increment = 10

df['FlightCodes'] = pd.Series(range(round(df['FlightCodes'].min()), round(df['FlightCodes'].max()) + 1, flight_code_increment))

In [6]:
df

        'Airline Code    DelayTimes  FlightCodes           To_From
0      Air Canada (!)      [21, 40]        20015  WAterLoo_NEWYork
1   <Air France> (12)            []        20025  Montreal_TORONTO
2  (Porter Airways. )  [60, 22, 87]        20035    CALgary_Ottawa
3      12. Air France      [78, 66]        20045  Ottawa_VANcouvER
4   ".\.Lufthansa.\."      [12, 33]        20055   london_MONTreal

## Covert the Data Type to Int

In [7]:
df['FlightCodes'] = df['FlightCodes'].astype(int)

# 2.Split To_From Columns

In [8]:
df[['To', 'From']] = df['To_From'].str.split("_", expand = True)

## Capitalize the Location

In [9]:
df['To'] = df['To'].str.lower().str.capitalize()
df['From'] = df['From'].str.lower().str.capitalize()
df = df.drop('To_From', axis = 1)

In [10]:
df

        'Airline Code    DelayTimes  FlightCodes        To       From
0      Air Canada (!)      [21, 40]        20015  Waterloo    Newyork
1   <Air France> (12)            []        20025  Montreal    Toronto
2  (Porter Airways. )  [60, 22, 87]        20035   Calgary     Ottawa
3      12. Air France      [78, 66]        20045    Ottawa  Vancouver
4   ".\.Lufthansa.\."      [12, 33]        20055    London   Montreal

# 3. Remove Punctuation in Airline Code

## Rename the First Columns

In [11]:
df.columns = ['Airline Code'] + list(df.columns[1:])

## Remove Punctuation

In [12]:
df['Airline Code'] = df['Airline Code'].str.replace(r'[\\{0}]'.format(string.punctuation), '', regex = True)

In [13]:
df

      Airline Code    DelayTimes  FlightCodes        To       From
0      Air Canada       [21, 40]        20015  Waterloo    Newyork
1    Air France 12            []        20025  Montreal    Toronto
2  Porter Airways   [60, 22, 87]        20035   Calgary     Ottawa
3    12 Air France      [78, 66]        20045    Ottawa  Vancouver
4        Lufthansa      [12, 33]        20055    London   Montreal

It seems that line 1 and line 2 suggest the same airline

In [14]:
temp = df.copy()
temp.loc[1, 'Airline Code'] = '12 Air France'

In [15]:
temp

      Airline Code    DelayTimes  FlightCodes        To       From
0      Air Canada       [21, 40]        20015  Waterloo    Newyork
1    12 Air France            []        20025  Montreal    Toronto
2  Porter Airways   [60, 22, 87]        20035   Calgary     Ottawa
3    12 Air France      [78, 66]        20045    Ottawa  Vancouver
4        Lufthansa      [12, 33]        20055    London   Montreal

I created a new dataframe called temp to reflect this change as it is just me inferred from the context. Such decision may not be correct and require professional judgement.